.DS_Store
figures/
*.ipynb
train_output/
sweep_output/
sweep_diwa/
*/__pycache__/*
*.py[cod]
domainbed/lib/__pycache__/*
rsync.sh
*.pth
*.pkl
mnist_pretrain/
mnist_adam_2_mnistm_adam_10_shot/
mnist_adam_2_mnistm_sam_10_shot/
mnist_init_train_adam/
mnist_init_train_sam/
mnist_sweep_diwa_adam/
mnist_sweep_diwa_sam/
mnist_res18_sweep_diwa_sam/
mnist_res18_sweep_diwa_adam/
mnist_res18_adam_diwa_2_svhn_adam_10_shot/
mnist_res18_sam_diwa_2_mnistm_sam_10_shot/
